@media (max-width: 425px) {
    body {
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        font-family: 'Montserrat', sans-serif;
    }

    .container-main {
        padding: 6%;
    }

    .input-task {
        font-size: 10px;
    }

    .button-add-task {
        font-size: 10px;
    }

    .list-tasks {
        max-height: 250px;
    }

    .task p {
        font-size: 10px;
    }

    img {
        height: 18px;
    }
}